
<div class = "card" id="fiveDay">
    <h5>Five Day Forecast.</h5>
    {{#each day}}
        <div class = "card">
            <h8>{{date}}</h8>
            <h8>{{temp}}</h8>
            <img src="https://openweathermap.org/img/wn/" + {{icontURL}} + '@2x.png'/>
            <h8>{{humidity}}</h8>
            <h8>{{uvIndex}}</h8>
        </div>
    {{/each}}
</div>