<p>weather loaded</p>
<div class="col-8" id="output">
   {{!-- {{#each weather}}
      <p>{{this}}</p>
   {{/each}} --}}
   <h5 id='line1'>{{weather.name}}</h5> 
   <h5 id='line2'>{{weather.country}}</h5>
   <h5 id='line3'>{{weather.population}}</h5>
   <h5 id='line4'>{{weather.temp}}</h5>
</div>


