<div class="col-8" id="output">
   {{#each weather}}
      <p>{{this}}</p>
   {{/each}}
   {{!-- <h5 id='line1'>{{report.name}}</h5> 
   <h5 id='line2'>{{report.country}}</h5>
   <h5 id='line3'>{{report.population}}</h5>
   <h5 id='line4'>{{report.temp}}</h5> --}}
</div>


